.interactive-session .selected-text,
.chat-view .selected-text, .monaco-editor .selected-text {
    font-weight: 700 !important;
    background-color: var(--primary-lighter1) !important;
    box-shadow:
        1px 2px 1px var(--darkest),
        2px 4px 1px var(--darkest),
        0px 2px 1px var(--darkest),
        1px 4px 1px var(--darkest);
    color: var(--lightest) !important;
}

.interactive-session .rendered-markdown ::selection,
.interactive-session .value::selection,
.chat-view .rendered-markdown ::selection,
.chat-view .value::selection {
    background-color: var(--primary-lighter1) !important;
    color: var(--lightest) !important;
}

.xterm .xterm-selection div,
.terminal.xterm .xterm-selection div,
.monaco-workbench .xterm .xterm-selection div {
    background-color: var(--primary-lighter1)!important;
    opacity: 0.9 !important;
    box-shadow:
        1px 2px 1px var(--darkest),
        2px 4px 1px var(--darkest),
        0px 2px 1px var(--darkest),
        1px 4px 1px var(--darkest);
}

.editor-group-container:after {
    animation: flight 2.8s linear infinite;
    will-change: transform;
}

@keyframes flight {
    from {
        transform: perspective(100px) rotateX(40deg) translateY(0);
    }
    to {
        transform: perspective(100px) rotateX(40deg) translateY(10px);
    }
}